@font-face {
  font-family: "Urbanist";
  src: url(../fonts/Urbanist-VariableFont_wght.ttf);
}

/* ============ GENERAL STYLES ============= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Urbanist", Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

button {
  font-family: inherit;
}

img {
  width: 100%;
}

:root {
  --section-margin-bottom: 13vh;
  --section-margin-lr: 8.5vw;
  --heading-margin-bottom: 7vh;
  --button-padding: 1.4rem 2.4rem;
  --primary-green: #cbea7b;
  --primary-background: #fafdf2;
  --primary-light: #f6fbe9;
  --primary-medium: #e5f5bd;
  --secondary-dark: #1a3129;
  --secondary-medium: #234338;
  --secondary-light: #346454;
  --main-text: #4c4c4d;
  --secondary-text: #98989a;
}

/* ============= SHARED STYLES =============== */
h1,
h2,
h3,
h4,
button,
label {
  color: var(--secondary-dark);
}

h1,
h2,
h3,
h4,
p,
button,
label {
  line-height: 150%;
}

h1,
h2 {
  font-weight: bold;
}

h3,
h4,
button,
label,
a {
  font-weight: 600;
}

.features,
.our-blogs,
.calorie-requirement,
.pricing {
  margin: 0 var(--section-margin-lr) var(--section-margin-bottom)
    var(--section-margin-lr);
}

/* ============= OVERARCHING STYLES ========== */

body {
  background-color: var(--primary-background);
}

h1 {
  font-size: 5.8rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3.4rem;
}

h4,
button,
label,
p,
li,
input,
select,
legend,
table {
  font-size: 1.8rem;
}

p {
  font-weight: 500;
  color: var(--main-text);
}

a,
li {
  text-decoration: none;
  color: white;
}

button {
  padding: var(--button-padding);
  border-radius: 8px;
  background-color: var(--primary-green);
  border: none;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: var(--heading-margin-bottom);
}

header,
footer {
  background-color: var(--secondary-dark);
  padding: 0 var(--section-margin-lr) 0 var(--section-margin-lr);
  display: flex;
  flex-direction: column;
}

/* ========== HEADER STYLES ============ */

.top-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-medium);
  padding: 1rem 2rem;
  margin: 1.4rem 0;
  position: relative;
  height: 4.7rem;
  overflow: hidden;
  border: 1px solid #2c5446;
  border-radius: 6px;
}

.scribbles {
  width: 20%;
  position: absolute;

  top: -1rem;

  &:nth-of-type(1) {
    left: 1rem;
  }
  &:nth-of-type(2) {
    right: 1rem;
  }
}

.top-banner-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.top-banner-center > h4 {
  flex-grow: 1;
  white-space: nowrap;
  color: white;
}

.top-banner > .top-banner-center > img {
  height: 1.8rem;
}

li {
  list-style-type: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

ul {
  display: flex;
  gap: 2.6rem;
}

.desktop-logo {
  width: 195px;
  height: 45px;
}

.nav-container-right {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.burg-menu div {
  background-color: rgb(255, 255, 255);
  height: 5px;
  width: 30px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.burg-menu {
  cursor: pointer;
  display: none;
}

/* ============ HERO STYLES ============ */

.hero {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: 0 var(--section-margin-lr) var(--section-margin-bottom) 0;
}

.hero h3 {
  padding: 1rem 0;
  text-decoration: underline var(--primary-green);
  text-underline-offset: 2rem;
}

.hero-text {
  gap: 2rem;
}

.hero article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero article h1 {
  line-height: normal;
}

.hero-buttons {
  display: flex;
  gap: 2rem;
}

.hero-buttons > button:nth-of-type(2) {
  background-color: var(--primary-light);
  border: 1px solid var(--primary-green);
}

.happy-customers {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.happy-customers p span {
  color: var(--secondary-medium);
}

.happy-customer-img {
  display: flex;
  position: relative;
  width: 14rem;
  height: 8rem;
  border: 1px solid var(--primary-green);
  border-radius: 58px;
}
.happy-customer-img > img {
  position: absolute;
  width: 6rem;
  top: 1rem;
  &:nth-of-type(1) {
    left: 1rem;
  }
  &:nth-of-type(2) {
    left: 4rem;
  }
  &:nth-of-type(3) {
    left: 7rem;
  }
}

/* ============ FEATURES STYLES========= */

.grid {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  gap: 3rem;
}

.card,
.calorie-calculator {
  background-color: var(--primary-light);
  border-radius: 12px;
  border: 1px solid var(--primary-medium);
}

.feature {
  padding: 5rem 4rem;
}

.feature > h3 {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 2.4rem;
  gap: 1.4rem;
  &::before {
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 6.8rem;
    height: 6.8rem;
    align-self: center;
  }
}

.feature:nth-of-type(1) > h3::before {
  background-image: url(../img/flower.png);
}
.feature:nth-of-type(2) > h3::before {
  background-image: url(../img/graduation-cap.png);
}
.feature:nth-of-type(3) > h3::before {
  background-image: url(../img/cuttlery.png);
}
.feature:nth-of-type(4) > h3::before {
  background-image: url(../img/memo-board.png);
}
.feature:nth-of-type(5) > h3::before {
  background-image: url(../img/dumbbell.png);
}
.feature:nth-of-type(6) > h3::before {
  background-image: url(../img/backpack.png);
}

/* ============= OUR BLOGS STYLING =========== */

.blog-post {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.blog-post > img {
  padding-bottom: 4rem;
}

.blog-post > div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.blog-post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--primary-background);
  border-radius: 8px;
  border: 1px solid var(--primary-medium);
}

.author-info {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.author-info > img {
  height: 6rem;
  width: auto;
}

.author-info p:nth-of-type(2) {
  color: var(--secondary-text);
}

.boxed-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.icon-box {
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-light);
  border: 1px solid #eef8d3;
  border-radius: 8px;
}

.boxed-icons img {
  width: 50%;
}

/* =========== TEST YOUR DAILY CALORIE REQUIREMENT STYLES */

form {
  display: grid;
  grid-template: auto / repeat(2, 50%);
  gap: 6rem;
  padding: 4rem 6.8rem 5rem 6.8rem;
}

.form-question {
  display: flex;
  flex-direction: column;
}

input,
select {
  height: 5rem;
  border: 1px solid var(--primary-medium);
  border-radius: 10px;
  color: var(--secondary-text);
  padding: 0 1.6rem;
}

fieldset {
  border: 0;
  grid-area: 3/1/3/-1;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  text-align: center;
  gap: 6rem;
}
fieldset > label {
  font-weight: 500;
}

fieldset > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

form > button {
  grid-area: 4/1/4/-1;
  width: 25%;
  justify-self: center;
}

table {
  background-color: white;
  border: 1px solid var(--primary-green);
  border-radius: 10px;
  width: 60%;
  text-align: left;
  justify-self: center;
  margin-bottom: 5rem;
}

th,
td {
  padding: 1rem 3.7rem;
}

tr:nth-of-type(1) th {
  border-bottom: 1px solid var(--primary-green);
}

/* =============== PRICING SECTION STYLES ============ */

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.toggle-button {
  border: 1px solid var(--primary-green);
  border-radius: 8px;
  padding: 1rem;
}
.inactive-toggle {
  background-color: transparent;
}

.pricing-options {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  gap: 3rem;
}

.pricing-plan {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  gap: 4rem;
}

.pricing-plan p span {
  font-size: 3.4rem;
  font-weight: 600;
  color: var(--secondary-medium);
}

.pricing {
  margin-bottom: 5rem;
}

/* ================== FOOTER STYLES ============= */

footer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem;
}
footer nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scroll-to-top {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.scroll-to-top p {
  color: white;
}

.scroll-to-top > div {
  background-color: var(--secondary-medium);
  border-radius: 100%;
  height: 6rem;
  width: 6rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2rem;
  background-color: var(--secondary-medium);
  border-radius: 8px;
  border: 1px solid #2c5446;
}

.contact > ul > div {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1.4rem;
  border-radius: 6px;
  gap: 1rem;
  border: 1px solid #2c5446;
}

.contact > ul > div > img {
  height: 2.4rem;
  width: 2.4rem;
}
.contact > p {
  color: white;
}

/* - ############ MEDIA QUERIES ######### */
/* ===== MOBILE VIEW ====== */
@media screen and (max-width: 550px) {
  /* General Styles */
  :root {
    --section-margin-bottom: 7vh;
    --section-margin-lr: 4vw;
    --heading-margin-bottom: 5vh;
    --button-padding: 1.4rem 1.6rem;
  }

  h1 {
    font-size: 4.2rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4,
  button,
  label,
  p,
  li,
  input,
  select,
  legend,
  table {
    font-size: 1.4rem;
  }

  /* ==== HEADER ==== */

  .top-banner {
    margin: 4rem 0rem 0rem 0rem;
    height: 4.1rem;
  }

  .desktop-logo {
    width: 147px;
    height: 34px;
  }

  .scribbles {
    display: none;
  }

  .top-banner-center {
    gap: 1rem;
  }

  .nav-container-right {
    display: none;
  }
  .burger-menu {
    display: block;
  }

  /* ====HERO ==== */

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 var(--section-margin-bottom) 0;
  }

  .hero > img {
    border-radius: 0 0 25px 25px;
  }

  .hero > div {
    display: flex;
    flex-direction: column;
  }

  .hero article {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 var(--section-margin-lr) 0 var(--section-margin-lr);
    position: relative;
  }

  .hero-text {
    order: 2;
    margin-top: 8vh;
  }

  .hero-buttons {
    order: 3;
    display: flex;
    justify-content: center;
    gap: 1.4rem;
  }

  .happy-customers {
    order: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -13vh;
    left: 27vw;
  }

  .happy-customer-img {
    background-color: var(--primary-background);
  }

  /* ===== Features ====== */

  .grid {
    grid-template: auto / repeat(1, 1fr);
    gap: 2rem;
  }

  .feature {
    padding: 3rem;
  }

  .feature > h3 {
    margin-bottom: 1.6rem;
    gap: 1rem;
    &::before {
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  /* ===== Our Blog ===== */

  .blog-post {
    padding: 2.4rem;
  }

  .blog-post > img {
    padding-bottom: 2rem;
  }

  .blog-post > div {
    gap: 1.8rem;
  }

  .blog-post-info {
    padding: 1.6rem;
  }

  .author-info {
    gap: 1rem;
  }

  .author-info > img {
    height: 4rem;
  }

  .boxed-icons {
    gap: 0.3rem;
  }

  .icon-box {
    height: 4rem;
    width: 4rem;
  }
}
