@font-face {
  font-family: "Urbanist";
  src: url(../fonts/Urbanist-VariableFont_wght.ttf);
}

/* ============ GENERAL STYLES ============= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Urbanist", Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 100%;
  height: 100%;
}

button {
  font-family: inherit;
}

img {
  width: 100%;
}

:root {
  --section-margin-bottom: 13vh;
  --section-margin-lr: 8.5vw;
  --heading-margin-bottom: 7vh;
  --button-padding: 1.4rem 2.4rem;
  --primary-green: #cbea7b;
  --primary-background: #fafdf2;
  --primary-light: #f6fbe9;
  --primary-medium: #e5f5bd;
  --secondary-dark: #1a3129;
  --secondary-medium: #234338;
  --secondary-light: #346454;
  --main-text: #4c4c4d;
  --secondary-text: #98989a;
}

/* ============= SHARED STYLES =============== */
h1,
h2,
h3,
h4,
button,
label {
  color: var(--secondary-dark);
}

h1,
h2,
h3,
h4,
p,
button,
label {
  line-height: 150%;
}

h1,
h2 {
  font-weight: bold;
}

h3,
h4,
button,
label,
a {
  font-weight: 600;
}

.features,
.our-blogs,
.calorie-requirement,
.pricing {
  margin: 0 var(--section-margin-lr) var(--section-margin-bottom)
    var(--section-margin-lr);
}

/* ============= OVERARCHING STYLES ========== */

body {
  background-color: var(--primary-background);
}

h1 {
  font-size: 5.8rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3.4rem;
}

h4,
button,
label,
p,
li {
  font-size: 1.8rem;
}

p {
  font-weight: 500;
  color: var(--main-text);
}

a {
  text-decoration: none;
  color: white;
}

button {
  padding: var(--button-padding);
  border-radius: 8px;
  background-color: var(--primary-green);
  border: none;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: var(--heading-margin-bottom);
}

/* ========== HEADER STYLES ============ */

header {
  background-color: var(--secondary-dark);
  padding: 0 var(--section-margin-lr) 0 var(--section-margin-lr);
  display: flex;
  flex-direction: column;
}

.top-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-medium);
  padding: 1rem 2rem;
  margin: 1.4rem 0;
  position: relative;
  height: 4.7rem;
  overflow: hidden;
  border: 1px solid #2c5446;
  border-radius: 6px;
}

.scribbles {
  width: 20%;
  position: absolute;

  top: -1rem;

  &:nth-of-type(1) {
    left: 1rem;
  }
  &:nth-of-type(2) {
    right: 1rem;
  }
}

.top-banner-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.top-banner-center > h4 {
  flex-grow: 1;
  white-space: nowrap;
  color: white;
}

.top-banner > .top-banner-center > img {
  height: 1.8rem;
}

li {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

ul {
  display: flex;
  gap: 2.6rem;
}

.desktop-logo {
  width: 195px;
  height: 45px;
}

.nav-container-right {
  display: flex;
  align-items: center;
  gap: 4rem;
}

/* ============ HERO STYLES ============ */

.hero {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: 0 var(--section-margin-lr) var(--section-margin-bottom) 0;
}

.hero h3 {
  padding: 1rem 0;
  text-decoration: underline var(--primary-green);
  text-underline-offset: 2rem;
}

.hero article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero article h1 {
  line-height: normal;
}

.hero-buttons {
  gap: 2rem;
}

.hero-buttons > button:nth-of-type(2) {
  background-color: var(--primary-light);
  border: 1px solid var(--primary-green);
}

.happy-customers {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.happy-customers p span {
  color: var(--secondary-medium);
}

.happy-customer-img {
  display: flex;
  position: relative;
  width: 14rem;
  height: 8rem;
  border: 1px solid var(--primary-green);
  border-radius: 58px;
}
.happy-customer-img > img {
  position: absolute;
  width: 6rem;
  top: 1rem;
  &:nth-of-type(1) {
    left: 1rem;
  }
  &:nth-of-type(2) {
    left: 4rem;
  }
  &:nth-of-type(3) {
    left: 7rem;
  }
}

/* ============ FEATURES STYLES========= */

.grid {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  gap: 3rem;
}

.card {
  background-color: var(--primary-light);
  border-radius: 12px;
  border: 1px solid var(--primary-medium);
}

.feature {
  padding: 5rem 4rem;
}

.feature > h3 {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 2.4rem;
  gap: 1.4rem;
  &::before {
    width: 6.8rem;
    height: 6.8rem;
    align-self: center;
  }
}

.feature:nth-of-type(1) > h3::before {
  content: url(../img/flower.png);
}
.feature:nth-of-type(2) > h3::before {
  content: url(../img/graduation-cap.png);
}
.feature:nth-of-type(3) > h3::before {
  content: url(../img/cuttlery.png);
}
.feature:nth-of-type(4) > h3::before {
  content: url(../img/memo-board.png);
}
.feature:nth-of-type(5) > h3::before {
  content: url(../img/dumbbell.png);
}
.feature:nth-of-type(6) > h3::before {
  content: url(../img/backpack.png);
}
